<%- include('../partials/header') %>
<link rel="stylesheet" href="stylesheets/style.css" />

<form id="new-drink-form" action="/drinks/new" method="POST">

  <label>Name</label>
  <input type="text" name="name">
  <label>Alcohol</label>
  <input type="text" name="alcohol">
  <label>Mix</label>
  <input type="text" name="mix">
  <label>Instructions</label>
  <input type="text" name="instructions">
  <input type="submit" value="Add New Drink">
</form>

<%- include('../partials/footer') %>
