body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  text-align: center;
}

#newDrink  {
  color:lightsteelblue;
  font-weight: bolder;
  font-size: 30px;
  margin-right: 75%;
}

h1 { 
  color : white; 
  font-weight: bold;
  background-color: black;
  margin-top: 0px;
  }

a:hover { 
  font-weight: bold;
  font-size: x-large;

}

footer { 
  font-weight: bolder; 
}

nav { 
  position: fixed;
  color: floralwhite;
  font-weight: bolder;
  font-size: x-large; 
  }

  footer {
    bottom: 0;
    width: 100%;
    font-size: x-large;
    font-weight: bolder;
    border: white;
    color: white;
   }
   
   ul li {
    background: none;
    margin: 15px;
  }

  label { 
    font-weight: bolder;
    font-size: large;
    color: white;
    background-color: black;
    border-style: solid;
    
  }
  div {
    text-align: justify;
  }
  #drinksName { 
    font-size: medium;
    background-color: gainsboro;
    width: 25%; 
    text-align: center;
    margin: auto;
  }
  #comments { 
    color: navy;
    font-size: xx-large;
    text-align: center;
  }
  #userName  {
    font-weight: bolder;
    font-size: x-large;
  }
  
  textarea {
    resize: none;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #DDDDDD;
    height: 100px;
    width: 400px;
  }
  .button, input{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:  floralwhite;
    background-color: lightcoral;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }